<div class="center-block">
  <%= month_calendar do |date| %>
      <%= date.day %>
  <% end %>
</div>

<!-- New Activity Modal -->
<div id="new-activity-modal" class="modal">
  <div class="modal-content">
    <a class="modal-close"><i class="fa fa-times"></i></a>
    <h4 class="center">New Activity</h4>
    <%= render 'forms/activity_form' %>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large modal-trigger red" href="#new-activity-modal">
    <i class="material-icons">add</i>
  </a>
</div>