<div class="center-block" id="calendar_container">
  <%= render 'calendars/month_calendar' %>
</div>

<!-- New Activity Modal -->
<div id="new-activity-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <a class="modal-close"><i class="fa fa-times"></i></a>
    <h4 class="center">New Activity</h4>
    <%= render 'forms/activity_form' %>
  </div>
</div>

<div id="activity-dialog"></div>

<!-- Edit Activity Modal -->
<div id="edit-activity-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <a class="modal-close"><i class="fa fa-times"></i></a>
    <h4 class="center">New Activity</h4>
  </div>
</div>

<div id="activity-form-cache" hidden>
  <%= render 'forms/activity_form' %>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" id="new-activity-btn">
    <i class="material-icons">add</i>
  </a>
</div>

<script>
  $('td.day').click(function() {
    var day = numeral($(this).text()).value();
    console.log('Day ' + day + ' clicked');
//    $('#new-activity-modal').modal().find('#new-activity-form')
//        .find('[name="activity[date]"]')
//        .val()
  });

</script>
