<%= month_calendar do |date| %>
    <%= date.day %>
<% end %>

<script>
  //
  // Calendar toggle
  //
  prepareComponents();
  $('.calendar-toggle').click(function() {
    $('.calendar-heading').html('<div class="loader"><i class="fa fa-circle-o-notch"></i></div>');
    console.log('Month changed');
  });
</script>