<div class="row">
  <form class="col s12" action="/activities/create" id="new-activity-form" method="post">
    <input type="hidden" name="activity[user_id]" value="<%= current_user.id %>">
    <input type="hidden" name="authenticity_token" class="fill">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Title" id="title" type="text" name="activity[title]">
        <label for="title">Title</label>
      </div>
      <div class="input-field col s12">
        <input type="text" id="date" class="datepicker" name="activity[date]" value="<%= Time.now.strftime("%e %B, %Y") %>">
        <label for="date">Date</label>
      </div>
      <div class="input-field col m6 s12">
        <input id="start_time" type="text" class="timepicker" name="activity[start_time]" value="09:00AM">
        <label for="start_time">Begin</label>
      </div>
      <div class="input-field col m6 s12">
        <input id="end_time" type="text" class="timepicker" name="activity[end_time]" value="10:00AM">
        <label for="end_time">End</label>
      </div>
      <div class="input-field col s12">
        <select name="activity[activity_type]">
          <% Activity.activity_types.keys.each do |k| %>
            <option value="<%= k %>"><%= k.capitalize %></option>
          <% end %>
        </select>
        <label>Type:</label>
      </div>
      <div class="input-field col s12">
        <textarea id="notes" class="materialize-textarea" name="activity[notes]"></textarea>
        <label for="notes">Notes</label>
      </div>
      <br>
      <div class="col m6 s12">
        <button class="btn grey modal-close">Cancel</button>
      </div>
      <div class="col m6 s12">
        <button class="btn blue" type="submit" name="save">Save</button>
      </div>
    </div>
  </form>
</div>