<div class="footer-copyright">
  <div class="row">
    <div class="col l8 m8 s12">
      <a href="#" class="grey-text text-lighten-3" target="_blank">Link</a>
    </div>
    <div class="col l4 m4 s12 right">
      <a href="#" class="grey-text text-lighten-3" target="_blank">Link</a>
    </div>
  </div>
</div>